
# Created by https://www.gitignore.io/api/fsharp,visualstudiocode

### fsharp ###
lib/debug
lib/release
Debug
*.suo
*.user
obj
bin
/build/
*.exe
!.paket/paket.bootstrapper.exe

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history


# End of https://www.gitignore.io/api/fsharp,visualstudiocode